@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-Light.woff2') format('woff2');
    font-weight: lighter;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background: lightgreen;
}

h1{
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}